*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    background: repeat center / contain url(img/saexh_bg.jpg);
}
.wrapper{
    width: 100vw;
    overflow: hidden;
}
header{
    width: 100%;
    height: 100vh;
    background: no-repeat center / contain url(img/fv.jpg);
}
.telop{
    width: 96vw;
    height: 5vh;
    margin: 0 auto;
    border-color: black;
    border-width:0px 2vw;
    border-style:solid; 
    background-color: #104574;
    /* background-color: #000; */
    overflow:hidden;
	white-space:nowrap;
}
.telop ul li img{
    height: 5vh;
}
.telop ul {
	display:inline-block;
	margin:0;
	padding:0;
	animation:hscroll 8s linear infinite;
}
.telop li {
	display:inline-block;
}
@keyframes hscroll {
	0% { transform:translateX(4px); }
	100% { transform:translateX(-100%); }

}
.introduction{
    width: 100%;
    height: 100vh;
}
.works{
    width: 100%;
    height: 200vh;
}