* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Serif JP', serif;
    font-weight: lighter;
    background-color: #000;
}

body {
    width: 100vw;
    background: repeat center / contain url(img/saexh_bg.jpg);
    --glitch-width: 100vw;
    --glitch-height: 100vh;
    --gap-horizontal: 10px;
    --gap-vertical: 5px;
    --color-title: #fff;
    --time-anim: 4s;
    --delay-anim: 2s;
    --blend-mode-1: none;
    --blend-mode-2: none;
    --blend-mode-3: none;
    --blend-mode-4: overlay;
    --blend-mode-5: overlay;
    --blend-color-1: transparent;
    --blend-color-2: transparent;
    --blend-color-3: #104574;
    --blend-color-4: #333;
    --blend-color-5: #666;
}

.wrapper {
    width: 100vw;
    overflow: hidden;
}

#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #333;
    text-align: center;
    color: #fff;
    display: none;
}

#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#splash_logo img {
    width: 40px;
}

#container {
    width: 100%;
    height: 100vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    color: #333;
}

a:hover {
    text-decoration: none;
}

#top-head {
    position: relative;
    z-index: 900;
}

.open #global-nav {
    z-index: 1000;
    visibility: visible;
}

#global-nav {
    visibility: hidden;
    position: fixed;
    display: table;
    vertical-align: middle;
    color: #fff;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

#global-nav ul {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
}

#global-nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

/* ***********************************************************
  * nav-list
  * *********************************************************** */
#global-nav ul li {
    opacity: 0;
    -webkit-transform: scaleX(0) translateX(-260px);
    transform: scaleX(0) translateX(-260px);
    -webkit-transition: none;
    transition: none;
}

.open #global-nav ul li {
    opacity: 1;
    -webkit-transform: scaleX(1) translateX(0);
    transform: scaleX(1) translateX(0);

    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;

    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

.open #global-nav ul li:nth-child(2) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.open #global-nav ul li:nth-child(3) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.open #global-nav ul li:nth-child(4) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.open #global-nav ul li:nth-child(5) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

/* ***********************************************************
  * #nav-bg
  * *********************************************************** */
#nav-bg {
    content: "";
    width: 2400px;
    height: 2400px;
    margin-right: -1200px;
    margin-top: -1200px;
    top: 40px;
    right: 40px;
    display: block;
    position: fixed;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(.02);
    transform: scale(.02);

}

.open #nav-bg {
    background-color: black;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

/* ***********************************************************
  * #nav-toggle
  * *********************************************************** */
#nav-toggle {
    display: block;
    position: fixed;
    right: 18px;
    top: 21px;
    cursor: pointer;
    z-index: 1001;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#nav-toggle img {
    width: 70px;
    transition: 0.3s;
}

.open #nav-toggle img {
    transform: rotate(30deg);
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.glitch {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--glitch-width);
    height: var(--glitch-height);
    overflow: hidden;
}

.glitch__img {
    position: absolute;
    top: calc(-1 * var(--gap-vertical));
    left: calc(-1 * var(--gap-horizontal));
    width: 100vw;
    height: 100vh;
    background: url(img/fv.jpg) no-repeat 50% 0;
    background-color: var(--blend-color-1);
    background-size: contain;
    transform: translate3d(0, 0, 0);
    background-blend-mode: var(--blend-mode-1);
}

.glitch__img:nth-child(n+2) {
    opacity: 0;
}

.imgloaded .svglogo {
    animation-duration: var(--time-anim);
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: glitch-anim-text;
}

.imgloaded .glitch__img:nth-child(n+2) {
    animation-duration: var(--time-anim);
    animation-delay: var(--delay-anim);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.imgloaded .glitch__img:nth-child(2) {
    background-color: var(--blend-color-2);
    background-blend-mode: var(--blend-mode-2);
    animation-name: glitch-anim-1;
}

.imgloaded .glitch__img:nth-child(3) {
    background-color: var(--blend-color-3);
    background-blend-mode: var(--blend-mode-3);
    animation-name: glitch-anim-2;
}

.imgloaded .glitch__img:nth-child(4) {
    background-color: var(--blend-color-4);
    background-blend-mode: var(--blend-mode-4);
    animation-name: glitch-anim-3;
}

.imgloaded .glitch__img:nth-child(5) {
    background-color: var(--blend-color-5);
    background-blend-mode: var(--blend-mode-5);
    animation-name: glitch-anim-flash;
}

/* Animations */

@keyframes glitch-anim-1 {
    0% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal), 0, 0);
        -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
        clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }

    2% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }

    4% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }

    6% {
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }

    8% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }

    10% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }

    12% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }

    14% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }

    16% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    18% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }

    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }

    21.9% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal), 0, 0);
    }

    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
        -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
        clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    }

    3% {
        -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }

    5% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
        clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    }

    7% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }

    9% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }

    11% {
        -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
        clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    }

    13% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }

    15% {
        -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
        clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    }

    17% {
        -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
        clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    }

    19% {
        -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
        clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    }

    20% {
        -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
        clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    }

    21.9% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    }

    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-3 {
    0% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
        clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    }

    1.5% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
        clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    }

    2% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
        clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    }

    2.5% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }

    3% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
        clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    }

    5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
        clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    }

    5.5% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
        clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    }

    7% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
        clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    }

    8% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }

    9% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
        clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    }

    10.5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
        clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    }

    11% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
        clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    }

    13% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
        clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    }

    14% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
        clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    }

    14.5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
        clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    }

    15% {
        -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
        clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    }

    16% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }

    18% {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
        clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    }

    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
        clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    }

    21.9% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    }

    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-text {
    0% {
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }

    2% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }

    4% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }

    5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }

    6% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }

    7% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    8% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }

    9% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }

    9.9% {
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    }

    10%,
    100% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

/* Flash */
@keyframes glitch-anim-flash {

    0%,
    5% {
        opacity: 0.2;
        transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    }

    5.5%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}

.svglogo {
    width: 100%;
    position: relative;
    top: 180px;
    z-index: 100;
    text-align: center;
}

svg {
    width: 90vw;
    max-width: 1000px;
}

.telop {
    width: 96vw;
    height: 7vh;
    transform: rotate(-20deg);
    margin: 0px auto;
    border-color: black;
    border-width: 0px 2vw;
    border-style: solid;
    /* background-color: #104574; */
    /* background-color: #000; */
    overflow: hidden;
    white-space: nowrap;
}

#telop1 {
    margin-top: 50px;
}

.telop ul li img {
    height: 7vh;
}

.telop ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    animation: hscroll 14s linear infinite;
}

.telop li {
    display: inline-block;
}


.introduction {
    width: 100%;
    height: 90vh;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.introduction h2 {
    font-size: 3rem;
    text-align: center;
    margin: 20vh 0 10vh 0;
}

.intro_wrapper {
    width: 300px;
    margin: 0 auto;
}

.introduction p {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0 auto;
    text-align: justify;
}

svg .svg-elem-1 {
    stroke-dashoffset: 292.7541198730469px;
    stroke-dasharray: 292.7541198730469px;
    -webkit-transition: stroke-dashoffset 1s ease 0s;
    transition: stroke-dashoffset 1s ease 0s;
}

svg.active .svg-elem-1 {
    stroke-dashoffset: 0;
}

svg .svg-elem-2 {
    stroke-dashoffset: 174.22671508789062px;
    stroke-dasharray: 174.22671508789062px;
    -webkit-transition: stroke-dashoffset 1s ease 0.12s;
    transition: stroke-dashoffset 1s ease 0.12s;
}

svg.active .svg-elem-2 {
    stroke-dashoffset: 0;
}

svg .svg-elem-3 {
    stroke-dashoffset: 79.38201904296875px;
    stroke-dasharray: 79.38201904296875px;
    -webkit-transition: stroke-dashoffset 1s ease 0.24s;
    transition: stroke-dashoffset 1s ease 0.24s;
}

svg.active .svg-elem-3 {
    stroke-dashoffset: 0;
}

svg .svg-elem-4 {
    stroke-dashoffset: 255.0800323486328px;
    stroke-dasharray: 255.0800323486328px;
    -webkit-transition: stroke-dashoffset 1s ease 0.36s;
    transition: stroke-dashoffset 1s ease 0.36s;
}

svg.active .svg-elem-4 {
    stroke-dashoffset: 0;
}

svg .svg-elem-5 {
    stroke-dashoffset: 406.659423828125px;
    stroke-dasharray: 406.659423828125px;
    -webkit-transition: stroke-dashoffset 1s ease 0.48s;
    transition: stroke-dashoffset 1s ease 0.48s;
}

svg.active .svg-elem-5 {
    stroke-dashoffset: 0;
}

svg .svg-elem-6 {
    stroke-dashoffset: 358.5235290527344px;
    stroke-dasharray: 358.5235290527344px;
    -webkit-transition: stroke-dashoffset 1s ease 0.6s;
    transition: stroke-dashoffset 1s ease 0.6s;
}

svg.active .svg-elem-6 {
    stroke-dashoffset: 0;
}

svg .svg-elem-7 {
    stroke-dashoffset: 421.7229309082031px;
    stroke-dasharray: 421.7229309082031px;
    -webkit-transition: stroke-dashoffset 1s ease 0.72s;
    transition: stroke-dashoffset 1s ease 0.72s;
}

svg.active .svg-elem-7 {
    stroke-dashoffset: 0;
}

svg .svg-elem-8 {
    stroke-dashoffset: 371.91900634765625px;
    stroke-dasharray: 371.91900634765625px;
    -webkit-transition: stroke-dashoffset 1s ease 0.84s;
    transition: stroke-dashoffset 1s ease 0.84s;
}

svg.active .svg-elem-8 {
    stroke-dashoffset: 0;
}

svg .svg-elem-9 {
    stroke-dashoffset: 403.5400390625px;
    stroke-dasharray: 403.5400390625px;
    -webkit-transition: stroke-dashoffset 1s ease 0.96s;
    transition: stroke-dashoffset 1s ease 0.96s;
}

svg.active .svg-elem-9 {
    stroke-dashoffset: 0;
}

svg .svg-elem-10 {
    stroke-dashoffset: 186.70648193359375px;
    stroke-dasharray: 186.70648193359375px;
    -webkit-transition: stroke-dashoffset 1s ease 1.08s;
    transition: stroke-dashoffset 1s ease 1.08s;
}

svg.active .svg-elem-10 {
    stroke-dashoffset: 0;
}

svg .svg-elem-11 {
    stroke-dashoffset: 447.5010986328125px;
    stroke-dasharray: 447.5010986328125px;
    -webkit-transition: stroke-dashoffset 1s ease 1.2s;
    transition: stroke-dashoffset 1s ease 1.2s;
}

svg.active .svg-elem-11 {
    stroke-dashoffset: 0;
}

svg .svg-elem-12 {
    stroke-dashoffset: 186.70648193359375px;
    stroke-dasharray: 186.70648193359375px;
    -webkit-transition: stroke-dashoffset 1s ease 1.3199999999999998s;
    transition: stroke-dashoffset 1s ease 1.3199999999999998s;
}

svg.active .svg-elem-12 {
    stroke-dashoffset: 0;
}

svg .svg-elem-13 {
    stroke-dashoffset: 277.08892822265625px;
    stroke-dasharray: 277.08892822265625px;
    -webkit-transition: stroke-dashoffset 1s ease 1.44s;
    transition: stroke-dashoffset 1s ease 1.44s;
}

svg.active .svg-elem-13 {
    stroke-dashoffset: 0;
}

svg .svg-elem-14 {
    stroke-dashoffset: 186.7314453125px;
    stroke-dasharray: 186.7314453125px;
    -webkit-transition: stroke-dashoffset 1s ease 1.56s;
    transition: stroke-dashoffset 1s ease 1.56s;
}

svg.active .svg-elem-14 {
    stroke-dashoffset: 0;
}

svg .svg-elem-15 {
    stroke-dashoffset: 400.1866149902344px;
    stroke-dasharray: 400.1866149902344px;
    -webkit-transition: stroke-dashoffset 1s ease 1.68s;
    transition: stroke-dashoffset 1s ease 1.68s;
}

svg.active .svg-elem-15 {
    stroke-dashoffset: 0;
}

svg .svg-elem-16 {
    stroke-dashoffset: 437.43133544921875px;
    stroke-dasharray: 437.43133544921875px;
    -webkit-transition: stroke-dashoffset 1s ease 1.7999999999999998s;
    transition: stroke-dashoffset 1s ease 1.7999999999999998s;
}

svg.active .svg-elem-16 {
    stroke-dashoffset: 0;
}

.animate {
    font-size: 50px;
    margin: 100px 0 0;
}

.animate span:nth-of-type(2) {
    animation-delay: .05s;
}

.animate span:nth-of-type(3) {
    animation-delay: .25s;
}

.animate span:nth-of-type(4) {
    animation-delay: .15s;
}

.animate span:nth-of-type(5) {
    animation-delay: .4s;
}

.animate span:nth-of-type(6) {
    animation-delay: .1s;
}

.animate span:nth-of-type(7) {
    animation-delay: .3s;
}

.animate span:nth-of-type(8) {
    animation-delay: .55s;
}

.animate span:nth-of-type(9) {
    animation-delay: .2s;
}

.animate span:nth-of-type(10) {
    animation-delay: .45s;
}

.animate span:nth-of-type(11) {
    animation-delay: .5s;
}

.animate span:nth-of-type(12) {
    animation-delay: .35s;
}

.animate span:nth-of-type(13) {
    animation-delay: .6s;
}

.animate span:nth-of-type(14) {
    animation-delay: .8s;
}

.animate span:nth-of-type(15) {
    animation-delay: .7s;
}

.animate span:nth-of-type(16) {
    animation-delay: .9s;
}

.animate span:nth-of-type(17) {
    animation-delay: .65s;
}

.animate span:nth-of-type(18) {
    animation-delay: .85s;
}

.animate span:nth-of-type(19) {
    animation-delay: .75s;
}

.animate span:nth-of-type(20) {
    animation-delay: .95s;
}

.text_animation span {
    color: #fff;
    opacity: 0;
    animation: leftRight .5s forwards;
}

@keyframes leftRight {
    40% {
        opacity: 1;
        color: #104574;
    }

    60% {
        color: #104574;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.works {
    width: 100%;
    margin-top: 50px;
    font-family: ab-anzu-r, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button {
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.button p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    z-index: 3;
}

.button img {
    width: 70%;
    max-width: 700px;
}

.button img:nth-child(1) {
    position: absolute;
    padding-top: 3vw;
    padding-left: 3vw;
    z-index: 1;
    animation: move 5s infinite;
}

.button img:nth-child(2) {
    position: relative;
    z-index: 2;
}

@keyframes move {
    0% {
        padding-top: 1vw;
        padding-left: 2vw;
    }

    50% {
        padding-top: 2vw;
        padding-left: 3vw;
        opacity: 0;
    }

    100% {
        padding-top: 1vw;
        padding-left: 2vw;
    }
}

.works_container {
    width: 100%;
    font-family: ab-anzu-r, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
}

.works_wrapper {
    display: none;
    margin-top: 80px;
}

.works_wrapper>p {
    margin: 30px;
}

.works_wrapper p:nth-child(1) {
    font-size: 2rem;
}

.works_content {
    height: 500px;
    position: relative;
    display: inline-block;
}

.works_content * {
    position: absolute;
    transform: translate(-50%, 0%);
}

.works_content div:nth-child(1) {
    height: 430px;
    width: 300px;
    border: solid white 1px;
}

.works_content img:nth-child(2) {
    width: 250px;
    top: 0;
    left: 0;
}

.works_content h2:nth-child(3) {
    top: 60%;
    font-size: 3rem;
}

.works a {
    color: white;
    font-size: 2rem;
    text-decoration: underline;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: white;
}